<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Construtora 1</title>

		<link rel="stylesheet" href="css/webquantica-grid.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/contatos.css">
		<link rel="stylesheet" href="font/flaticon.css">
		<link rel="stylesheet" href="mobile.css">
		<link rel="stylesheet" href="custom.css">

		<script src="js/jquery.js"></script>
		<script src="js/webquantica-grid.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/carousel.js"></script>
		
	</head>
	<body>

		<header class="wq-header wq-header_vertical">
			<div class="wq-subheader">
				<div class="wq-container">
					<ul class="wq-lista-inline">
						<li><i class="flaticon-old-handphone"></i>(62) 99999-9999</li>
						<li><a href="" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
						<li><a href="" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
						<li><a href="" target="_blank"><i class="flaticon-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="wq-navegacao">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-logo">
								<a href="index.html">
									<figure>
										<img title="" src="img/logo.png" alt="">
									</figure>
								</a>
							</div>
						</div>
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-btn_menu">
								<hr>
								<hr>
								<hr>
							</div>
							<nav class="wq-menu_principal">
								<ul class="wq-lista-inline">
									<li><a href="index.html">Home</a></li>
									<li><a href="sobre-nos.html">Sobre Nós</a></li>
									<li><a href="servicos.html">Serviços</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li class="active"><a href="contatos.html">Contato</a></li>
								</ul>
							</nav>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="btn_header">
								<a href="contatos.html">Entre em contato</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="wq-breadcrump">
			<figure>
				<img title="" src="img/about.jpg" alt="">
			</figure>
			<div class="wq-container wq-conteudo">
				<p><a href="">Home</a>/<a href="">404</a></p>
			</div>
		</div>

		<section class="wq-404">
			<div class="wq-container">
				<div class="wq-cto">
					<h2>Erro - 404 a página não pode ser carregada.</h2>
					<a href="index.html" class="wq-btn_1 wq-btn_estilo-1"><span>Voltar para Home</span></a>
				</div>
			</div>
		</section>










		<footer class="wq-footer">
			<div class="wq-subfooter">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>EMPRESA</h4>
							<p>Fundada por uma equipe de ex-eletricistas e mecânicos de USS Missouri (BB-63) que recuperaram os pés no chão seco quando o navio foi desmantelado em 1994, a Voltabolt faz caso para uma das empresas de energia elétrica mais rápida e eficiente na área local</p>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Serviços</h4>
							<ul class="wq-outros-sevicos">
								<li><a href="">Veículos</a></li>
								<li><a href="">Trabalhos de manutenção</a></li>
								<li><a href="">Grade Comercial</a></li>
								<li><a href="">Grades residenciais</a></li>
								<li><a href="">Serviços de emergência</a></li>
								<li><a href="">Grades industriais</a></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Aberto</h4>
							<ul class="wq-funcionamento">
								<li>segunda - sexta-feira: <span>9h as 6h</span></li>
								<li>Sábado: <span>10h as 4h</span></li>
								<li>Domingo: <span>Fechado </span></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Contatos</h4>
							<ul class="wq-contato">
								<li>Av. T-63, nº 12f96 - Edifício New World - Sala. 516 - St. Nova Suíça, Goiânia - GO, 74280-235</li>
								<li>Telefone: (99) 99999-9999</li>
								<li>E-mail: teste@teste.com.br</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-copyright">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<p>Copyright: © 2017. Todos os direitos reservados</p>
						</div>
						
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-logo_footer">
								<a href="http://www.harpiapropaganda.com.br/" target="_blank">
									Desenvolvido por WebsitesGoias
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>