<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<title>Construtora 1</title>

		<link rel="stylesheet" href="css/webquantica-grid.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/blog.css">
		<link rel="stylesheet" href="font/flaticon.css">
		<link rel="stylesheet" href="mobile.css">
		<link rel="stylesheet" href="custom.css">
		

		<script src="js/jquery.js"></script>
		<script src="js/webquantica-grid.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/carousel.js"></script>
		
	</head>
	<body>

		<header class="wq-header wq-header_vertical">
			<div class="wq-subheader">
				<div class="wq-container">
					<ul class="wq-lista-inline">
						<li><i class="flaticon-old-handphone"></i>(62) 99999-9999</li>
						<li><a href="" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
						<li><a href="" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
						<li><a href="" target="_blank"><i class="flaticon-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="wq-navegacao">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-logo">
								<a href="index.html">
									<figure>
										<img title="" src="img/logo.png" alt="">
									</figure>
								</a>
							</div>
						</div>
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-btn_menu">
								<hr>
								<hr>
								<hr>
							</div>
							<nav class="wq-menu_principal">
								<ul class="wq-lista-inline">
									<li><a href="index.html">Home</a></li>
									<li><a href="sobre-nos.html">Sobre Nós</a></li>
									<li><a href="servicos.html">Serviços</a></li>
									<li class="active"><a href="blog.html">Blog</a></li>
									<li><a href="contatos.html">Contato</a></li>
								</ul>
							</nav>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="btn_header">
								<a href="contatos.html">Entre em contato</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<div class="wq-breadcrump">
			<figure>
				<img title="" src="img/about.jpg" alt="">
			</figure>
			<div class="wq-container wq-conteudo">
				<h1>Blog</h1>
				<p><a href="">Home</a>/<a href="">blog</a></p>
			</div>
		</div>
		<section class="wq-01-blog">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-box_9 wq-box_cp-12 wq-box_cl-12 wq-box_tp-7 wq-box_tl-7 wq-blog_item">
						<div class="wq-blog_conteudo">
							<h2><a href="blog-interna.html">Aprendendo a lidar com o problema de sub-sobre-tensão</a></h2>
							<a href="blog-interna.html"><figure>
								<img title="" src="img/img180.jpg" alt="">
							</figure></a>
							<div class="wq-flex">
								<div class="wq-box_9 wq-box_cp-12 wq-box_cl-12 wq-box_tp-10 wq-box_tl-10">
									<ul class="wq-lista-inline">
										<li><a href="">December 3,2016</a></li>
										<li>by admin</li>
										<li><a href="">2 comments</a></li>
										<li><a href="">Industry News,</a><a href="">Solar</a></li>
										<li><a href="">blog</a></li>
									</ul>
								</div>
							</div> 
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos incidunt sapiente ab vel perferendis magnam rem doloremque animi quaerat voluptas, ducimus, hic consequatur, ad asperiores. Nihil animi est sint praesentium labore vitae, voluptatum, temporibus quis expedita, autem dolores id hic ipsam, ratione esse minima nobis? Cupiditate eligendi voluptatum reprehenderit.</p>
							<a href="blog-interna.html" class="wq-btn_1">Saiba mais</a>
						</div>
						<div class="wq-blog_conteudo">
							<h2><a href="blog-interna.html">Aprendendo a lidar com o problema de sub-sobre-tensão</a></h2>
							<a href="blog-interna.html">
								<figure>
									<img title="" src="img/img180.jpg" alt="">
								</figure>
							</a>
							<div class="wq-flex">
								<div class="wq-box_9 wq-box_cp-12 wq-box_cl-12 wq-box_tp-10 wq-box_tl-10">
									<ul class="wq-lista-inline">
										<li><a href="">December 3,2016</a></li>
										<li>by admin</li>
										<li><a href="">2 comments</a></li>
										<li><a href="">Industry News,</a><a href="">Solar</a></li>
										<li><a href="">blog</a></li>
									</ul>
								</div>
							</div> 
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eos incidunt sapiente ab vel perferendis magnam rem doloremque animi quaerat voluptas, ducimus, hic consequatur, ad asperiores. Nihil animi est sint praesentium labore vitae, voluptatum, temporibus quis expedita, autem dolores id hic ipsam, ratione esse minima nobis? Cupiditate eligendi voluptatum reprehenderit.</p>
							<a href="blog-interna.html" class="wq-btn_1">Saiba mais</a>
						</div>
						<div class="wq-paginas">
							<ul class="wq-lista-inline">
								<li><a href="">1</a></li>
								<li><a href="">2</a></li>
								<li><a href="">3</a></li>
							</ul>
						</div>
					</div>
					<aside class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-5 wq-box_tl-5">
						<div class="wq-sidebar">
							<div class="wq-buscar">
								<h3>Search</h3>
								<form class="" action="#">
									<input required type="text" placeholder="Buscar">
									<button class="flaticon-magnifier" type="submit"></button>
								</form>
							</div>
							<div class="wq-categorias">
								<h3>Categorias</h3>

								<ul>
									<li><a href="blog-interna.html">Categorias</a></li>
									<li><a href="blog-interna.html">Categorias</a></li>
									<li><a href="blog-interna.html">Categorias</a></li>
									<li><a href="blog-interna.html">Categorias</a></li>
									<li><a href="blog-interna.html">Categorias</a></li>
								</ul>
							</div>

							<div class="wq-ultimos-posts">
								<h3>Ultimos Posts</h3>
								<ul>
									<li>
										<p><a href="blog-interna.html">Aprendendo a lidar com o problema de sub-sobre-tensão</a></p>
										<span class="wq-data">December 3, 2016</span>
									</li>

									<li>
										<p><a href="blog-interna.html">Aprendendo a lidar com o problema de sub-sobre-tensão</a></p>
										<span class="wq-data">December 3, 2016</span>
									</li>
										
									<li>
										<p><a href="">Aprendendo a lidar com o problema de sub-sobre-tensão</a></p>
										<span class="wq-data">December 3, 2016</span>
									</li>
								</ul>
							</div>

							<div class="wq-tags">
								<h3>Tags</h3>
								<ul class="wq-lista-inline">
									<li><a href="blog.html">blog</a></li>
									<li><a href="servicos-interna.html">electrician</a></li>
									<li><a href="servicos-interna.html">grid</a></li>
									<li><a href="servicos-interna.html">news</a></li>
									<li><a href="servicos-interna.html">power</a></li>
									<li><a href="servicos-interna.html">tips</a></li> 
								</ul>
							</div>

							<div class="wq-arquivos">
								<h3>Arquivos</h3>
								<ul>
									<li><a href="">December 2016</a></li>
									<li><a href="">November 2016</a></li>
									<li><a href="">October 2016</a></li>
								</ul>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</section>

		<footer class="wq-footer">
			<div class="wq-subfooter">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>EMPRESA</h4>
							<p>Fundada por uma equipe de ex-eletricistas e mecânicos de USS Missouri (BB-63) que recuperaram os pés no chão seco quando o navio foi desmantelado em 1994, a Voltabolt faz caso para uma das empresas de energia elétrica mais rápida e eficiente na área local</p>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Serviços</h4>
							<ul class="wq-outros-sevicos">
								<li><a href="">Veículos</a></li>
								<li><a href="">Trabalhos de manutenção</a></li>
								<li><a href="">Grade Comercial</a></li>
								<li><a href="">Grades residenciais</a></li>
								<li><a href="">Serviços de emergência</a></li>
								<li><a href="">Grades industriais</a></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Aberto</h4>
							<ul class="wq-funcionamento">
								<li>segunda - sexta-feira: <span>9h as 6h</span></li>
								<li>Sábado: <span>10h as 4h</span></li>
								<li>Domingo: <span>Fechado </span></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Contatos</h4>
							<ul class="wq-contato">
								<li>Av. T-63, nº 12f96 - Edifício New World - Sala. 516 - St. Nova Suíça, Goiânia - GO, 74280-235</li>
								<li>Telefone: (99) 99999-9999</li>
								<li>E-mail: teste@teste.com.br</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-copyright">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<p>Copyright: © 2017. Todos os direitos reservados</p>
						</div>
						
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-logo_footer">
								<a href="http://www.harpiapropaganda.com.br/" target="_blank">
									Desenvolvido por WebsitesGoias
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>