<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Construtora 1</title>

		<link rel="stylesheet" href="css/webquantica-grid.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="font/flaticon.css">
		<link rel="stylesheet" href="mobile.css">
		<link rel="stylesheet" href="custom.css">
		

		<script src="js/jquery.js"></script>
		<script src="js/webquantica-grid.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/carousel.js"></script>
		
	</head>
	<body>

		<header class="wq-header wq-header_vertical">
			<div class="wq-subheader">
				<div class="wq-container">
					<ul class="wq-lista-inline">
						<li><i class="flaticon-old-handphone"></i>(62) 99999-9999</li>
						<li><a href="" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
						<li><a href="" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
						<li><a href="" target="_blank"><i class="flaticon-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="wq-navegacao">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-logo">
								<a href="index.html">
									<figure>
										<img title="" src="img/logo.png" alt="">
									</figure>
								</a>
							</div>
						</div>
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-btn_menu">
								<hr>
								<hr>
								<hr>
							</div>
							<nav class="wq-menu_principal">
								<ul class="wq-lista-inline">
									<li class="active"><a href="index.html">Home</a></li>
									<li><a href="sobre-nos.html">Sobre Nós</a></li>
									<li><a href="servicos.html">Serviços</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="contatos.html">Contato</a></li>
								</ul>
							</nav>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="btn_header">
								<a href="contatos.html">Entre em contato</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section class="wq-banner">
			<div class="wq-banner_carousel">

				<div class="wq-banner_item">
					<div class="wq-banner-img">
						<figure>
							<img title="" src="img/banner1.jpg" alt="">
						</figure>
					</div>
					<div class="wq-container">
						<div class="wq-banner_conteudo">
							<h2>TITULO DO BANNER</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quis eos fugit vitae quibusdam, vel.</p>
							
							<a class="wq-btn_1" href="contatos.html">Contato</a>	
						</div>
					</div>				
				</div>
				<div class="wq-banner_item">
					<div class="wq-banner-img">
						<figure>
							<img title="" src="img/banner2.jpg" alt="">
						</figure>
					</div>
					<div class="wq-container">
						<div class="wq-banner_conteudo">
							<h2>TITULO DO BANNER</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam atque minus nulla, similique delectus quidem!</p>
							
							<a class="wq-btn_1" href="contatos.html">Contato</a>	
						</div>
					</div>					
				</div>

				<div class="wq-banner_item">
					<div class="wq-banner-img">
						<figure>
							<img title="" src="img/banner3.jpg" alt="">
						</figure>
					</div>
					<div class="wq-container">
						<div class="wq-banner_conteudo">
							<h2>TITULO DO BANNER</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero iste id doloremque, accusantium nesciunt minus?</p>
							
							<a href="servicos.contatos.html" class="wq-btn_1">Contato</a>	
						</div>
					</div>	
				</div>				
			</div>
		</section>

		<section class="wq-01">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
						<figure><img title="" src="img/img4.png" alt=""></figure>
					</div>
					<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
						<div class="wq-conteudo">
							<div class="wq-titulo_1">
								<h2>Se apagou</h2>
								<h2> Vamos  <span>Iluminá-lo</span> novamente!</h2>
							</div>
							<p> Considerando o quão prolongada é a nossa experiência na indústria, temos a certeza de que não existe uma única questão relacionada à eletricidade que não possamos corrigir. </p>
							<p> Começando com sistemas de fornecimento de energia comercial e residencial e todo o caminho para o setor industrial e solar, somos capazes de corrigir tudo! </p>
							<a href="sobre-nos.html" class="wq-btn_1">Sobre nós</a>	
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="wq-02">
			<div class="wq-container">
				<div class="wq-flex">
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-3">
						<div>
							<h2>356</h2>
							<h5>clientes</h5>
						</div>
					</div>
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-3">
						<h2>12</h2>
						<h5>Anos de trabalho</h5>
					</div>
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-3">
						<h2>100%</h2>
						<h5>Clientes satisfeitos</h5>
					</div>
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-3">
						<h2>25</h2>
						<h5>Prós experientes</h5>
					</div>
				</div>
			</div>
		</section>

		<section class="wq-03">
			<div class="wq-flex">
				<div class="wq-box_6f wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
					<div class="wq-padding">
						<h2 class="wq-titulo_1">Serviços</h2>
						<div class="wq-conteudo-ful">
							<div class="wq-conteudo">								
								<p class="titulo-01">A qualidade da nossa vida em casa depende fortemente de garantir que todos os nossos eletrodomésticos e dispositivos obtenham um forte e adequado fornecimento de energia.</p>
							</div>
							<div class="wq-conteudo">
								<h3 class="titulo-02"><a href="servicos-interna.html">Serviços de emergência</a></h3>
								<p>Com o nosso conjunto regular de serviços de manutenção, instalação e reparação elétrica que funcionam 7 dias por semana, 12f horas por dia, infelizmente, alguns acidentes ruins saem do nosso alcance.</p>
							</div>
							<div class="wq-conteudo">
								<h3 class="titulo-03"><a href="servicos-interna.html">Grades industriais</a></h3>
								<p>Na medida em que estamos conscientes do assunto, cada fábrica ou um local de fabricação consome muita eletricidade e energia, portanto, precisa de seus sistemas elétricos para serem totalmente operacionais e vigiados.</p>
							</div>
							<a href="servicos.html" class="wq-btn_1">Serviços</a>
						</div>
					</div>
				</div>
				<div class="wq-box_6f wq-box_cp-12f wq-box_cl-12f">
					<figure>
						<img title="" src="img/img5.png" alt="">
					</figure>
				</div>
			</div>
		</section>

		<section class="wq-04">
			<div class="wq-container">
				<div class="wq-04_item">
					<h1>Desenvolvido por <span>anos de experiência </span> e centenas de clientes satisfeitos, trabalhamos dia e noite para resolver todos os seus problemas de fornecimento de energia!</h1>
					<a href="contatos.html" class="wq-btn_1">Agende uma visita</a>
				</div>
			</div>
		</section>

		<section class="wq-05">
			<div class="wq-container">
				<h2 class="wq-titulo_1">Nós temos mais concorrentes</h2>
				<div class="wq-flex">
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
						<div>
							<span class="icon">
								<i class="flaticon-thumb-up"></i>
							</span>
						</div>
						<h3>Alcance</h3>
						<p>A gama de serviços que uma empresa pode oferecer é geralmente a vantagem mais importante sobre a concorrência. Nós lidamos com tudo - desde sistemas comerciais e residenciais até industrial e solar!</p>
					</div>
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
						<div>
							<span class="icon">
								<i class="flaticon-group"></i>
							</span>
						</div>
						<h3>Equipe</h3>
						<p>Fundada há mais de duas décadas e empregando mais de duas dezenas de eletricistas altamente qualificados e experientes, nossa empresa supera a qualquer outra pessoa quando se trata de proeza prática e dura!</p>
					</div>
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
						<div>
							<span class="icon">
								<i class="flaticon-slating-flag"></i>
							</span>
							<h3>Experiência</h3>
							<p>Ao longo dos anos de nossa experiência de trabalho na indústria, fomos capazes de acumular toda uma série de projetos concluídos de forma perfeita. Todos os nossos clientes estavam tão felizes com a qualidade!</p>
						</div>
					</div>
					<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
						<div>
							<span class="icon">
								<i class="flaticon-credit-card"></i>
							</span>
							<h3>Preços</h3>
							<p>Ao contrário de alguns de nossos concorrentes diretos, nunca tornamos inalcançável para nossos clientes. Nossa política de preços sempre foi inclusiva e acessível. Além disso, temos uma extensa gama de ofertas promocionais!</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="wq-06">
			<div class="wq-container">
				<h2 class="wq-titulo_1">clienteS</h2>
				<div class="wq-flex">
					<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
						<div class="wq-conteudo_ful">
							<div class="icone_aspa">
								<i class="flaticon-left-quote"></i>
							</div>
							<p>Toda a minha casa costumava ser alimentada por um muito, e quero dizer uma grade muito antiga e quase antiga. Eventualmente, como o tempo o teria, a grade não funcionou. Eu só tive que pedir uma equipe de eletricistas profissionais para sua ajuda.</p>
							<div class="wq-conteudo">
								<div class="wq-flex">
									<figure>
										<img title="" src="img/testimonial1.png" alt="">
									</figure>
									<div class="wq-conteudo">
										<h3>Guilherme R</h3>
										<p>Clientes</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
						<div class="wq-conteudo_ful">
							<div class="icone_aspa">
								<i class="flaticon-left-quote"></i>
							</div>
							<p>Toda a minha casa costumava ser alimentada por um muito, e quero dizer uma grade muito antiga e quase antiga. Eventualmente, como o tempo o teria, a grade não funcionou. Eu só tive que pedir uma equipe de eletricistas profissionais para sua ajuda.</p>
							<div class="wq-conteudo">
								<div class="wq-flex">
									<figure>
										<img title="" src="img/testimonial1.png" alt="">
									</figure>
									<div class="wq-conteudo">
										<h3>Guilherme R</h3>
										<p>Clientes</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
						<div class="wq-conteudo_ful">
							<div class="icone_aspa">
								<i class="flaticon-left-quote"></i>
							</div>
							<p>Toda a minha casa costumava ser alimentada por um muito, e quero dizer uma grade muito antiga e quase antiga. Eventualmente, como o tempo o teria, a grade não funcionou. Eu só tive que pedir uma equipe de eletricistas profissionais para sua ajuda.</p>
							<div class="wq-conteudo">
								<div class="wq-flex">
									<figure>
										<img title="" src="img/testimonial1.png" alt="">
									</figure>
									<div class="wq-conteudo">
										<h3>Guilherme R</h3>
										<p>Clientes</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="wq-07">
			<div class="wq-container">
				<h2 class="wq-titulo_1">PARCEIROS</h2>
				<div class="wq-07_item">
					<div class="wq-flex">
						<div class="wq-box_1_5 wq-box_cp-12f wq-box_cl-12f wq-box_tp-4 wq-box_tl-4">
							<figure>
								<img title="" src="img/logo-parceiros.png" alt="">
							</figure>
						</div>

						<div class="wq-box_1_5 wq-box_cp-12f wq-box_cl-12f wq-box_tp-4 wq-box_tl-4">
							<figure>
								<img title="" src="img/logo-parceiros.png" alt="">
							</figure>
						</div>

						<div class="wq-box_1_5 wq-box_cp-12f wq-box_cl-12f wq-box_tp-4 wq-box_tl-4">
							<figure>
								<img title="" src="img/logo-parceiros.png" alt="">
							</figure>
						</div>

						<div class="wq-box_1_5 wq-box_cp-12f wq-box_cl-12f wq-box_tp-4 wq-box_tl-4">
							<figure>
								<img title="" src="img/logo-parceiros.png" alt="">
							</figure>
						</div>

						<div class="wq-box_1_5 wq-box_cp-12f wq-box_cl-12f wq-box_tp-4 wq-box_tl-4">
							<figure>
								<img title="" src="img/logo-parceiros.png" alt="">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="wq-08">
			<div class="wq-container">
				<div class="wq-08_item">
					<div class="wq-flex">
						<div class="wq-box_5 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-08_conteudo">
								<h2 class="wq-titulo_1">TIME-PROVENIENTE! <span>QUALIDADE !</span></h2>
								<p>Iniciado por ex-mecânicos da Marinha e eletricistas, esta empresa é construída em 3 dificuldades de sucesso: ética de trabalho forte, alta qualidade e processamento expedito</p>
								<p>Começando com sistemas de fornecimento de energia comercial e residencial e todo o caminho para o setor industrial e solar, somos capazes de corrigir tudo!</p>
								<a href="servicos.html" class="wq-btn_1">Projetos</a>
							</div>
						</div>
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-08_video">
								<div>
									<iframe src="https://www.youtube.com/embed/i5_-YCNkZcI?feature=oembed&amp;amp;wmode=opaque" id="fitvid0"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="wq-09">
			<div class="wq-container">
				<h2 class="wq-titulo_1">BloG</h2>
				<div class="wq-09_item">
					<div class="wq-flex">
						<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-4">
							<figure>
								<img title="" src="img/img18.jpg" alt="">
							</figure>
							<div class="wq-conteudo">
								<h3><a href="blog-interna.html">Aprender a lidar com o Problema de sobre / sobre tensão</a></h3>
								<span class="wq-data">Dec 3, 2016</span>
								<span>by admin</span>
								<p>Existe uma grande quantidade de falhas do sistema a longo prazo que podem causar um problema tão peculiar quanto a tensão inferior. Basicamente, sendo um mero caso de insuficiência de eletricidade para a grade, também muitas vezes é chamado de "acalmar".</p>
								<a href="" class="wq-btn_2">Ler mais</a>
							</div>
						</div>

						<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-4">
							<figure>
								<img title="" src="img/img18.jpg" alt="">
							</figure>
							<div class="wq-conteudo">
								<h3><a href="blog-interna.html">Aprender a lidar com o Problema de sobre / sobre tensão</a></h3>
								<span class="wq-data">Dec 3, 2016</span>
								<span>by admin</span>
								<p>Existe uma grande quantidade de falhas do sistema a longo prazo que podem causar um problema tão peculiar quanto a tensão inferior. Basicamente, sendo um mero caso de insuficiência de eletricidade para a grade, também muitas vezes é chamado de "acalmar".</p>
								<a href="" class="wq-btn_2">Ler mais</a>
							</div>
						</div>

						<div class="wq-box_4 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-4">
							<figure>
								<img title="" src="img/img18.jpg" alt="">
							</figure>
							<div class="wq-conteudo">
								<h3><a href="blog-interna.html">Aprender a lidar com o Problema de sobre / sobre tensão</a></h3>
								<span class="wq-data">Dec 3, 2016</span>
								<span>by admin</span>
								<p>Existe uma grande quantidade de falhas do sistema a longo prazo que podem causar um problema tão peculiar quanto a tensão inferior. Basicamente, sendo um mero caso de insuficiência de eletricidade para a grade, também muitas vezes é chamado de "acalmar".</p>
								<a href="" class="wq-btn_2">Ler mais</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer class="wq-footer">
			<div class="wq-subfooter">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>EMPRESA</h4>
							<p>Fundada por uma equipe de ex-eletricistas e mecânicos de USS Missouri (BB-63) que recuperaram os pés no chão seco quando o navio foi desmantelado em 1994, a Voltabolt faz caso para uma das empresas de energia elétrica mais rápida e eficiente na área local</p>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Serviços</h4>
							<ul class="wq-outros-sevicos">
								<li><a href="">Veículos</a></li>
								<li><a href="">Trabalhos de manutenção</a></li>
								<li><a href="">Grade Comercial</a></li>
								<li><a href="">Grades residenciais</a></li>
								<li><a href="">Serviços de emergência</a></li>
								<li><a href="">Grades industriais</a></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Aberto</h4>
							<ul class="wq-funcionamento">
								<li>segunda - sexta-feira: <span>9h as 6h</span></li>
								<li>Sábado: <span>10h as 4h</span></li>
								<li>Domingo: <span>Fechado </span></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-6">
							<h4>Contatos</h4>
							<ul class="wq-contato">
								<li>Av. T-63, nº 12f96 - Edifício New World - Sala. 516 - St. Nova Suíça, Goiânia - GO, 74280-235</li>
								<li>Telefone: (99) 99999-9999</li>
								<li>E-mail: teste@teste.com.br</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-copyright">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<p>Copyright: © 2017. Todos os direitos reservados</p>
						</div>
						
						<div class="wq-box_6 wq-box_cp-12f wq-box_cl-12f wq-box_tp-12f wq-box_tl-12f">
							<div class="wq-logo_footer">
								<a href="http://www.harpiapropaganda.com.br/" target="_blank">
									Desenvolvido por WebsitesGoias
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</body>
</html>