<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Volta Bolt</title>

		<link rel="stylesheet" href="css/webquantica-grid.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/testimonials.css">
		<link rel="stylesheet" href="font/flaticon.css">

		<link rel="stylesheet" href="mobile.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<script src="js/jquery.js"></script>
		<script src="js/webquantica-grid.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/carousel.js"></script>
		
	</head>
	<body>

		<header class="wq-header wq-header_vertical">
			<div class="wq-top_header">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<div class="wq-mideas-sociais">
								<ul class="wq-lista-inline">
									<li><a href="" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
									<li><a href="" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
									<li><a href="" target="_blank"><i class="flaticon-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="wq-box_6 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<div class="wq-tell-contato">
								<ul class="wq-lista-inline">
									<li><i class="flaticon-old-handphone"></i>(800) 123-0045; (800) 123-0046</li>
									<li><i class="flaticon-clock"></i>Mn-Fr: 10 am-8 pm</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-sub-header">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<div class="wq-logo">
								<a href="index.html">
									<figure>
										<img title="" src="img/logo.png" alt="">
									</figure>
								</a>
							</div>
						</div>
						<div class="wq-box_7 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<div class="wq-btn_menu">
								<hr>
								<hr>
								<hr>
							</div>
							<nav class="wq-menu_principal">
								<ul class="wq-lista-inline">
									<li><a href="index.html">Home</a></li>
									<li><a href="sobre-nos.html">Sobre Nós</a></li>
									<li><a href="servicos.html">Serviços</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="contatos.html">Contato</a></li>
								</ul>
							</nav>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<div class="btn_header">
								<a href="contatos.html">Entre Em Contato Conosco</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		
		<section class="wq-01_testimonials">
			<div class="wq-container">
				<div class="wq-testimonial_top">
					<figure>
						<img title="" src="img/team-1.jpg" alt="">
					</figure>
					<div>
						<h2>Alex Buoyega</h2>
						<h4>Electrician</h4>
					</div>
				</div>
				<div class="wq-testimonial_bottom">
					<p>Mr. Buoyega was born in one of Detroit’s poorest blocks, all before pursuing his successful managerial career in the future. For him, the breakthrough happened when he was able to get on Harvard University’s Law School list. After graduating from there, he was working for a few years for a number of multi-million dollar corporations, climbing up the corporate ladder and…</p>
					<div class="wq-mideas-sociais_testimonials">
						<ul class="wq-lista-inline">
							<li><a href="" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
							<li><a href="" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
							<li><a href="" target="_blank"><i class="flaticon-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<footer class="wq-footer">
			<div class="wq-top_footer">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-6">
							<h4>About</h4>
							<p>Founded by a team of former USS Missouri (BB-63) electricians and mechanics who got their feet back on the dry ground when the ship was decommissioned in 1994, Voltabolt makes case for one of the most rapidly growing and most efficient all-electrical companies in the local area</p>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-6">
							<h4>Our Services</h4>
							<ul class="wq-outros-sevicos">
								<li><a href="">Vehicles</a></li>
								<li><a href="">Maintenance Works</a></li>
								<li><a href="">Commercial Grid</a></li>
								<li><a href="">Residential Grids</a></li>
								<li><a href="">Emergency Services</a></li>
								<li><a href="">Industrial Grids</a></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-6">
							<h4>Opening Hours</h4>
							<ul class="wq-funcionamento">
								<li>Monday - Friday: <span>9am-6pm</span></li>
								<li>Saturday: <span>10am-4pm</span></li>
								<li>Sunday: <span>10am-1pm</span></li>
							</ul>
						</div>
						<div class="wq-box_3 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-6">
							<h4>Contacts</h4>
							<ul class="wq-contatos">
								<li>Address: 4578 Marmora Road, Glasgow, D04 89GR</li>
								<li>Phones: (800) 123-0045; (800) 123-0046</li>
								<li>E-mail: info@demolink.org</li>
								<li>We are open: Mn-Fr: 10 am-8 pm</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="wq-sub_footer">
				<div class="wq-container">
					<div class="wq-flex">
						<div class="wq-box_5 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<p>Voltabolt . Copyright: © 2017. All rights reserved</p>
						</div>
						<div class="wq-box_5 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<div class="wq-redes-sociais_footer">
								<div class="wq-mideas-sociais_footer">
									<ul class="wq-lista-inline">
										<li><a href="" target="_blank"><i class="flaticon-facebook-logo"></i></a></li>
										<li><a href="" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
										<li><a href="" target="_blank"><i class="flaticon-google-plus"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="wq-box_2 wq-box_cp-12 wq-box_cl-12 wq-box_tp-12 wq-box_tl-12">
							<div class="wq-logo_footer">
								<a href="">
									<figure>
										<img title="" src="img/logo-harpia.png" alt="">
									</figure>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>